@import url('https://fonts.googleapis.com/css?family=Montserrat');

.header {
    background-color: rgba(0,0,0,1.0);
    height: 50px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.navigation {
    list-style: none;
    height: 100%;
    width: 1366px;
}

.navigation li {
    display: inline-block;
    height: 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
#login {
    float: right;
}

.navigation li:hover {
    background-color: rgba(40,40,40,1.0);
}
.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.content {
    width: 1366px;
    height: 80vh;
    background-color: gray;
    margin-top: 5vh;
}
.footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,1.0);
    display: flex;
    justify-content: center;
}
.footer .container {
    width: 1366px;
}

#copyright {
    position: relative;
    color: white;
    line-height: 50px;
    vertical-align: middle;
    margin-left: 20px;
}